@{
    Layout = null;
}
@model int;
<!DOCTYPE html>
<html>
    <head>
        <title>ASP</title>
    </head>
    <body>
        <h1>Contador </h1>
        <h2>Essa página teve @Model acessos</h2>
    </body>
</html>