@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>ASP</title>
    </head>
    <body>
        <header>
            <h1>Seja bem vindo</h1>
               <a href  = "/home/index">Inicial</a>
        </header>
        <h2>Meu contato principal é: yasmin.wichinievski@gmail.com</h2>
    </body>
</html>