@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>ASP</title>
    </head>
    <body>
        <h1>
           Página Inicial
        </h1>
        <a href = "/home/contato">Contato</a><br/>
        <a href = "/home/listagem">Listagem</a><br/>
        <a href = "/home/contato">Contador</a><br/>

    </body>
</html>